<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="bs" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Batchdata.mdf;Initial Catalog=Batchdata;Integrated Security=True" />
  <add name="Project_1281404.Properties.Settings.BatchdataConnectionString"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Batchdata.mdf;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>